.phoneHand {
    margin-left: 100px;
    background-image: url('./../assets/img/mobile-hand.png');
    max-width: 400px;
    height: 588px;
}
.photoCRM {
    width: 607px;
    height: 340px;
    background-image: url('../assets/img/2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.photoSEO  {
    margin-top: 30px;
    margin-left: 30px;
    background-image: url('./../assets/img/darts.png');
    min-height: 500px;
}

@media (max-width: 1200px) {
    .photoSEO  {
        margin-left: 0px;
        background-image: url('./../assets/img/darts.png');
        min-height: 500px;
    }
} 

@media (max-width: 992px) {
    .photoSEO  {
        margin-top: 50px;
        margin-left: 0px;
        background-image: url('./../assets/img/darts.png');
        min-height: 400px;
    }
}

@media (max-width:576px) {
    .photoSEO  {
        margin-top: 50px;
        margin-left: 0px;
        background-image: url('./../assets/img/darts.png');
        min-height: 290px;
    }
}