.red {
    background: #F8426310;
    color: #F84263;
}
.green {
    background: #7BA56210;
    color: #4C6A3A;
}
.blue {
    background: #4280F810;
    color: #3952AB;
}
.yellow {
    background: #E89B2810;
    color: #FB8B24;
}
.gray {
    background: #75727010;
    color: #9098A8;
}
.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 146px;
}
.title {
    text-align: center;
    margin-bottom: 38px;
    font-family: 'GothamProMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #25495C;
}
.text {
    max-width: 800px;
    text-align: center;
    font-family: 'GothamProLight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #607483;
    margin-bottom: 70px;
}

.swiperSl {
    background: #fff;
    text-align: center;
    margin-left: 20px;
    width: 367px;
}
.titleCase {
    padding: 16px 5px;
    min-height: 55px;
    box-shadow: 0px 14px 24px rgba(207, 201, 201, 0.25);
    border-radius: 5px 5px 0px 0px;
}
.titleCaseSpan {
    font-family: 'GothamProMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.02em;
}
.wrapList {
    background: white;
    padding-top: 30px;
    margin-bottom: 46px;
}
.swiperSl {
    background: #FFFFFF;
    box-shadow: 0px 14px 24px rgba(207, 201, 201, 0.25) !important;
    border-radius: 5px
}
.listTitle {
    margin-bottom: 13px;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'GothamProLight';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #607483;
}
.listTitle:before {
    margin-left: 77px;
    content: '';
    border: 2px solid #25495C;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 16px;
}
.price {
    font-family: 'GothamProMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
        letter-spacing: -0.02em;
    color: #25495C;
    margin-bottom: 35px;
}
.btn {
    min-height: 50px;
    min-width: 200px;
    margin-bottom: 42px;
}
.wrapperSlid {
    margin-bottom: 110px;
}







@media (min-width: 576px) {
    .wrapperSlid {
        display: flex;
        justify-content: center;
    }

}